<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <DisplayStyle>
    <Item>TextBox</Item>
    <Item>CheckBox</Item>
    <Item>DateTime</Item>
    <Item>ComboBox</Item>
    <Item>ActiveInactivePendingComboBox</Item>
    <Item>BusinessAssociateExternalComboBox</Item>
  </DisplayStyle>
</configuration>